/*SLIDER*/
#ss-slider{
	/*background-color: #eeeeee;*/
	background-color: #777777;
  	background-image: url("../img/bg4.jpg") ;
    background-position: center center;
}

#ss-slider #main-logo{
	margin: 1rem 0;
}


/*MENU*/
#ss-mainmenu #menu-logo{
	margin: 10px;
}




